/* Default styles for larger screens */
h3 {
    color: rgb(255, 254, 254);
    font-size: 35px;
}

h1 {
    text-align: center;
    color: seashell;
    font-size: 50px;
}

body {
    background-color: rgb(107, 107, 107) !important;
}

.estr {
    display: flex;
    justify-content: center;
}

.estr1 {
    width: 100px !important;
    height: 100px !important;
}

main .produc-tools {
    margin-left: 22% !important;
    margin-right: 25% !important;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h3 {
        font-size: 28px;
    }

    main .produc-tools {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    .estr1 {
        width: 80px !important;
        height: 80px !important;
    }
}